body{
	font-family: Arial; 
	font-size: 12px; 
	background-color:  #303030;
}
header{
	background-color: #545151; 
	padding: 5px;
	color: #ffffff;
}
nav{
	text-align: center;
	background-color: #0fc2dc;
}
header nav a{
	font-size: 20px;
	color: white;
	padding: 10px;
	text-decoration: none;
}

header nav a:hover{
	color: black;
}
main{
	padding:5px;
}

main section{
	overflow: hidden;
	padding: 10px;
}
footer{
	padding: 5px;
	text-align: center;
}

h1{
	color: white;
	text-align: center;
	font-size: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2{
	font-size: 30px;
}

.images{
	width: 50%;
	height: auto;
	float: right;
}

.section_text{
font-size: 20px;
text-align: left;
}

.grey_section{
	background-color:white; 
}

.white_section{
	background-color:white; 
}



